@if (this.isAuthenticated()) {
<p-menubar [model]="items()">
  <ng-template #item let-item>
      <a [routerLink]="item.routerLink" class="p-menubar-item-link" routerLinkActive="active-menu-item">
          <span>{{ item.label }}</span>
      </a>
  </ng-template>
  <ng-template #end>
    <div class="end-container">
      <p-button styleClass="logout-button" size="small" label="Logout" severity="secondary" (onClick)="onLogout()"/>
      <a [routerLink]="['auth', 'account']">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
      </a>
      <app-dark-mode-toggle />
    </div>
  </ng-template>
</p-menubar>
}
@else {
  <div class="toggle-button">
    <app-dark-mode-toggle />
  </div>
}
