<div class="card" card>
  <h2>Login</h2>
  <p class="description">Login to WatchExpense to continue</p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <p-floatlabel variant="on">
        <input pInputText pSize="large" type="email" id="email" name="email" autocomplete="off" formControlName="email"
          fluid />
        <label for="email">Email</label>
      </p-floatlabel>
      @if (formState().submitted && isInvalidField('email')) {
      <app-field-error-messages [errors]="getFieldErrors('email')" />
      }
    </div>
    <div class="form-control">
      <p-floatlabel variant="on">
        <input pInputText pSize="large" type="password" id="password" name="password" autocomplete="off"
          formControlName="password" fluid />
        <label for="password">Password</label>
      </p-floatlabel>
      @if (formState().submitted && isInvalidField('password')) {
      <app-field-error-messages [errors]="getFieldErrors('password')" />
      }
    </div>
    <p-button size="large" type="submit" variant="outlined" [label]="formState().loading ? 'Submitting...' : 'Submit'"
      [disabled]="formState().loading" />
  </form>
</div>
