.page-container {
  width: 1200px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 400px;
}

h2 {
  width: 100%;
  text-align: center;
}

.description {
  width: 100%;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
}
