@use "variables" as vars;

:host {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--p-surface-300);
}

:host.shadow {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

:host.summary-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  ::ng-deep.summary-icon {
    border-radius: 50%;
    padding: 2rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  ::ng-deep .summary-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
  }

  ::ng-deep .summary-data {
    margin: 0;
    font-size: 1.5rem;
  }
}


:host.primary {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$primary-color, 0.5);
  }
}

:host.secondary {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$secondary-color, 0.5);
  }
}

:host.warning {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$warning, 0.5);
  }
}

:host.error {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$error, 0.5);
  }
}

:host.purple {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$purple, 0.5);
  }
}

:host.success {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$success, 0.5);
  }
}

:host.pink {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$pink, 0.5);
  }
}

:host.red {
  ::ng-deep.summary-icon {
    background-color: rgba(vars.$red, 0.7);
  }
}
