@if (loading()) {
  <div class="summary">
    <app-summary-card-skeleton variant="primary" />
    <app-summary-card-skeleton variant="success" />
    <app-summary-card-skeleton variant="secondary" />
  </div>
} @else {
  <div class="summary">
    <div card="summary" type="primary">
      <div class="summary-icon">
        <i class="pi pi-building" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Total Departments</p>
      <p class="summary-data">{{ summary().totalDepartments }}</p>
    </div>
    <div card="summary" type="success">
      <div class="summary-icon">
        <i class="pi pi-indian-rupee" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Total Budget</p>
      <p class="summary-data">{{ summary().totalBudget | currency:"INR" }}</p>
    </div>
    <div card="summary" type="secondary">
      <div class="summary-icon">
        <i class="pi pi-chart-bar" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Average Budget</p>
      <p class="summary-data">{{ summary().averageBudget | currency:"INR" }}</p>
    </div>
  </div>
}
