<div class="summary">
  <div card="summary" type="primary">
    <div class="summary-icon">
      <i class="pi pi-credit-card" style="font-size: 1.25rem;"></i>
    </div>
    <p class="summary-title">
      Budget
    </p>
    <p class="summary-data">
      {{ budget() | currency:"INR" }}
    </p>
  </div>
  <div card="summary" type="secondary">
    <div class="summary-icon">
      <i class="pi pi-money-bill" style="font-size: 1.25rem;"></i>
    </div>
    <p class="summary-title">
      Budget Left
    </p>
    <p class="summary-data">
      {{ budgetLeft() | currency:"INR" }}
    </p>
  </div>
</div>
