.summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

i {
  font-size: 1.25rem;
}

@media (max-width: 900px) {
  .summary {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 475px) {
  .summary {
    grid-template-columns: 1fr;
  }
}
