@use 'variables' as vars;

.container {
  height: 85vh;
  width: 96vw;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-selectbutton {
  margin-bottom: 1rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}
