@use 'variables' as vars;

.container {
  height: 85vh;
  width: 100vw;
  padding: 1rem;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.p-selectbutton {
  margin-bottom: 1rem;
}

.loading-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  cursor: help;
}

.not-reconciled {
  color: var(--text-color-secondary);
  font-style: italic;
}
