:host {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  background-color: white;
}

html.dark :host {
  background-color: var(--p-surface-900);
}

p {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-block: 0.25rem;
}
