<div [formGroup]="formGroup()" class="bill">
  <div class="flex-row">
    <div class="form-control">
      <p-floatlabel variant="on">
        <label for="amount">Amount</label>
        <input
          pInputText
          type="number"
          id="amount"
          class="flex-auto"
          autocomplete="off"
          formControlName="amount"
          fluid
        />
      </p-floatlabel>
    </div>

    <div class="form-control">
      <p-floatlabel variant="on">
        <label for="description" class="font-semibold w-24">
          Description
        </label>
        <textarea
          pTextarea
          rows="1"
          cols="23"
          id="description"
          name="description"
          formControlName="description"
          class="flex-auto"
          autocomplete="off"
          [autoResize]="true"
          fluid
        >
        </textarea>
      </p-floatlabel>
      @if (formState().submitted && isInvalidField('description')) {
        <app-field-error-messages [errors]="getFieldErrors('description')" />
      }
    </div>
  </div>
  @if (formState().submitted && isInvalidField('amount')) {
    <app-field-error-messages
      [errors]="getFieldErrors('amount')"
    />
  }

  <div class="file-upload-container">
    <p-fileupload
      #fu
      mode="basic"
      chooseLabel="Choose"
      chooseIcon="pi pi-upload"
      name="attachment"
      accept="image/*,application/pdf"
      maxFileSize="1024 * 1024 * 5"
      [disabled]="loading()"
      [customUpload]="true"
      (onSelect)="uploadHandler($event)"
    >
      <ng-template #filelabel let-files>
        @if(files && files.length > 0) {
        <div class='file-info-container'>
            <span>
              {{ files[0].name }}
            </span>
            <p-button
              severity="secondary"
              variant="text"
              icon="pi pi-times"
              [rounded]="true"
              (click)="clearFile()"
              [disabled]="formState().loading"
            />
        </div>
        }
        @else {
          <span>No file selected</span>
        }
      </ng-template>
    </p-fileupload>
  </div>

  <div class="justify-content-between">
    <p-message size="small" severity="secondary" variant="simple">
      Bill #{{ index() + 1 }}
    </p-message>
    @if(removeable()) {
    <p-button
      label="Remove"
      severity="danger"
      variant="text"
      icon="pi pi-times"
      size="small"
      [raised]="true"
      (click)="remove.emit()"
      [disabled]="formState().loading"
    />
    }
  </div>
</div>
