@if (loading()) {
  <div class="summary">
    <app-summary-card-skeleton variant="primary" />
    <app-summary-card-skeleton variant="secondary" />
    <app-summary-card-skeleton variant="purple" />
  </div>
} @else {
  <div class="summary">
    <div card="summary" type="primary">
      <div class="summary-icon">
        <i class="pi pi-users"></i>
      </div>
      <p class="summary-title">Total Users</p>
      <p class="summary-data">{{ summary().totalUsers }}</p>
    </div>
    <div card="summary" type="secondary">
      <div class="summary-icon">
        <i class="pi pi-shield"></i>
      </div>
      <p class="summary-title">Admins</p>
      <p class="summary-data">{{ summary().adminUsers }}</p>
    </div>
    <div card="summary" type="purple">
      <div class="summary-icon">
        <i class="pi pi-user"></i>
      </div>
      <p class="summary-title">Employees</p>
      <p class="summary-data">{{ summary().employeeUsers }}</p>
    </div>
  </div>
}
