@if (loading()) {
  <div class="summary">
    <app-summary-card-skeleton variant="primary" />
    <app-summary-card-skeleton variant="success" />
    <app-summary-card-skeleton variant="secondary" />
    <app-summary-card-skeleton variant="purple" />
  </div>
} @else {
  <div class="summary">
    <div card="summary" type="primary">
      <div class="summary-icon">
        <i class="pi pi-users" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Total Users</p>
      <p class="summary-data">{{ summary().totalUsers }}</p>
    </div>
    <div card="summary" type="success">
      <div class="summary-icon">
        <i class="pi pi-user-plus" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Active Users</p>
      <p class="summary-data">{{ summary().activeUsers }}</p>
    </div>
    <div card="summary" type="secondary">
      <div class="summary-icon">
        <i class="pi pi-shield" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Admin Users</p>
      <p class="summary-data">{{ summary().adminUsers }}</p>
    </div>
    <div card="summary" type="purple">
      <div class="summary-icon">
        <i class="pi pi-user" style="font-size: 1.25rem;"></i>
      </div>
      <p class="summary-title">Employee Users</p>
      <p class="summary-data">{{ summary().employeeUsers }}</p>
    </div>
  </div>
}
