::ng-deep {
  .p-dialog {
    width: 25rem !important;
    padding: 1rem !important;
  }

  .p-message {
    margin: 0;
  }

  .user-form-modal {
    .p-dialog-content {
      overflow: visible !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-top: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep {
  .p-message {
    padding-left: 0.25rem;
  }
}

.field-help {
  color: var(--text-color-secondary);
  font-size: 0.75rem;
  line-height: 1.2;
  margin-top: 0.25rem;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
